body, html {
  font-size: 12px;
  font-family: Georgia;
  background-color: rgb(246, 246, 238);
}
.nav-bar{
 display: flex;
 margin-top: 20px;
}
.nav-link {
  color: rgb(58, 120, 89);
  flex: 2;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}
.nav-link:hover{
  color: rgb(0, 77, 0);
}
#aboutParas{
  /* idk some padding/margins and styling*/
}
form{
	margin-top: 100px;
	margin-left: 100px;
}